h1{
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    height: 100px;
    text-align: center;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    background-color: rgb(17, 14, 14);
    text-decoration: none;
    
}
:any-link{
    text-decoration: none;
    color: white;
}
iframe{
    width: 100%;
    height: 60%;
    overflow: auto;
    position: absolute;
    padding-bottom: 1000px;    
}
.search-bar{
  margin: 0 auto;
  display: flex;
  font-family: sans-serif;
  font-size: 16px;
  box-sizing: border-box;
  position: relative;
  width: 46%;
  height: 100%;
  
}
.live{
    background-color: rgb(249, 249, 249);
    position: relative;
    text-align: center;
    left: -10px;
    white-space: nowrap;
    font-size: 14px;
    margin: 0 auto;
    max-width: 750px;
    color: black;
}
.end{
    text-align: center;
    font-size: 24px;
    padding-top: 900px;     
}
footer{
    background-color: black;
    color: gray;
    padding-bottom: 0;
}